{% extends 'inventories/base.html' %}
{% load static %}

{% block content %}
    <title> Booking Confirmation </title>

    <style>
        .center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }
    </style>

    <h1 style="text-align: center"> Booking Confirmation </h1> <br>
    <img src="{% static 'inventories/tick.png' %}" alt="TickIcon" class="center">

    <h3 style="text-align: center"> <br> Thanks for your reservation! <br> Reservation Number: A00000001 </h3>
{% endblock content %}