<!-- Author: Nayim Amdoun -->
<!--Reviewed by: -->
<!--Edwin domale-->
<!--Azim Shahul Hameed-->
<!--Ernesto Cosentino-->
<!--Muhammad Ozair Khan-->
<!--extends the base layout-->
{% extends 'inventories/base.html' %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);">
        <li class="breadcrumb-item">Basket</li>
        <li class="breadcrumb-item active">Booking Confirmation</li>
    </ol>
{% endblock breadcrumbs %}

{% block content %}
    <title> Booking Confirmation </title>

    <style>
        .center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }
    </style>

    <h1 style="text-align: center"> Booking Confirmation </h1> <br>
    <img src="{% static 'inventories/tick.png' %}" alt="TickIcon" class="center">

    <h3 style="text-align: center"> <br> Thank you for booking! <br> Booking Number: {{ bookingRef|stringformat:"010d" }} </h3>
{% endblock content %}