<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Equipment</title>
    {% extends 'inventories/base.html' %}

    {% load static %}

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% block content %}
    <h1>Manage Reservations</h1>

    <table>
    <tr>
        <th>
            Cancel
        </th>
        <th>
            Equipment
        </th>
        <th>
            Status
        </th>
        <th>
            User
        </th>
        <th>
            Start Date
        </th>
        <th>
            Due Date
        </th>
    </tr>
    {% for booking in booking %}
    <tr>
        <td>{% if booking.status == "Active"%}<a href = "{% url 'inventories:cancelbooking' id=booking.id %}">Cancel</a>{% endif %}</td>
        <td>{{booking.item}}</td>
        <td>{{booking.status}}</td>
        <td>{{booking.user}}</td>
        <td>{{booking.start_date}}</td>
        <td>{{booking.end_date}}</td>
    </tr>
    {% endfor %}
    </table>


    </table>
    {% endblock content %}
</body>
</html>