{% extends 'inventories/base.html' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
{% endblock breadcrumbs %}

{% block content %}
    <h1>Items</h1>

    <form action="{% url 'inventories:index' %}" method="POST">
        <span>Sort by</span>
        <select name="sort" id="sort">
            <option value="name">Name</option>
            <option value="durationLow">Booking Duration: Low-High</option>
            <option value="durationHigh">Booking Duration: High-Low</option>
            <option value="new">New In</option>
        </select>
        <br><br>
    </form>

    <p>{{ totalItems }} items</p>

    {% for item in items %}
        <img src={{item.image}}><br>
        {{ item.name }}<br>
        {{ item.comments }}<br>
        <button>Add to Basket</button><br><br>

    {% endfor %}

    <!--Pagination-->

    <h3>Filter by</h3><hr>

    <div>
        <!-- Make dropdowns to show checkboxes -->
        <p>Type of Equipment</p>
        <form action="{% url 'inventories:index' %}" method="POST">
            {% for type, count in types.items %}
                <input type="checkbox" id="" name="" value="">
                <label for="">{{ type }}</label><span>({{ count }})</span><br>
            {% endfor %}
        </form>

        <br><p>Status</p>
        <form action="{% url 'inventories:index' %}" method="POST">
            {% for status, count in statuses.items %}
                <input type="checkbox" id="" name="" value="">
                <label for="">{{ status }}</label><span>({{ count }})<span><br>
            {% endfor %}
        </form>
    </div>    

{% endblock content %}