{% extends 'inventories/base.html' %}
{% load custom_tags %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
{% endblock breadcrumbs %}

{% block content %}
    <h1>Items</h1>

    <form action="{% url 'inventories:index' %}" method="POST">
        <span>Sort by</span>
        <select name="sort" id="sort">
            <option value="name">Name</option>
            <option value="durationLow">Booking Duration: Low-High</option>
            <option value="durationHigh">Booking Duration: High-Low</option>
            <option value="new">New In</option>
        </select>
        <br><br>
    </form>

    {% for item in page %}
    <a href="{% url 'inventories:item' item.id %}">
        <img src="{{ item.image.url }}"><br>
        {{ item.name }}<br>
    </a>
    <button>Add to Basket</button>
    <br><br>
{% endfor %}


    {% if page.has_previous %}
        <a href="{% tag 1 'page' request.GET.urlencode %}">&laquo First</a>
        <a href="{% tag page.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
    {% endif %}

    Page {{ page.number }} of {{ page.paginator.num_pages }}

    {% if page.has_next %}
        <a href="{% tag page.next_page_number 'page' request.GET.urlencode %}">Next</a>
        <a href="{% tag page.paginator.num_pages 'page' request.GET.urlencode %}">Last &raquo</a>
    {% endif %}

    <h3>Filter by</h3><hr>

    <div>
        <!-- Make dropdowns to show checkboxes -->
        <form action="{% url 'inventories:index' %}" method="GET">
            <p>Type of Equipment</p>            
            {% for type, count in types.items %}
                <input type="checkbox" id="{{ type }}" name="typeOption" value="{{ type }}" {% if type in selectedTypeFilters %} checked {% endif %} onchange="this.form.submit()">
                <label for="{{ type }}">{{ type }}</label><span>({{ count }})</span><br>
            {% endfor %}
            <br>

            <p>Status</p>
            {% for status, count in statuses.items %}
                <input type="checkbox" id="{{ status }}" name="statusOption" value="{{ status }}" {% if status in selectedStatusFilters %} checked {% endif %} onchange="this.form.submit()">
                <label for="{{ status }}">{{ status }}</label><span>({{ count }})<span><br>
            {% endfor %}
        </form>
    </div>    

{% endblock content %}