{% extends 'inventories/base.html' %}
{% load custom_tags %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
{% endblock breadcrumbs %}

{% block content %}
    <h1>Items</h1>

    <div>
        <form action="{% url 'inventories:index' %}" method="GET">
            <label for="sort">Sort by</label>
            <select name="sort" id="sort" onchange="this.form.submit()">
                <option value="name" {% if sort == 'name' %} selected {% endif %}>Name</option>
                <option value="auditOldest" {% if sort == 'auditOldest' %} selected {% endif %}>Date Inspected (oldest)</option>
                <option value="auditNewest" {% if sort == 'auditNewest' %} selected {% endif %}>Date Inspected (newest)</option>
            </select>
            <br><br>

            
            <h3>Filter by</h3><hr>
            <p>Type of Equipment</p>            
            {% for type, count in types.items %}
                <input type="checkbox" id="{{ type }}" name="typeOption" value="{{ type }}" {% if type in selectedTypeFilters %} checked {% endif %} onchange="this.form.submit()">
                <label for="{{ type }}">{{ type }}</label><span>({{ count }})</span><br>
            {% endfor %}
            <br>

            <p>Status</p>
            {% for status, count in statuses.items %}
                <input type="checkbox" id="{{ status }}" name="statusOption" value="{{ status }}" {% if status in selectedStatusFilters %} checked {% endif %} onchange="this.form.submit()">
                <label for="{{ status }}">{{ status }}</label><span>({{ count }})<span><br>
            {% endfor %}
            <br>
        </form>
    </div>

    <p>{{ totalItems }} items</p><br>

    {% for item in page %}
        <img src={{item.image}}><br>
        {{ item.name }}<br>
        {{ item.comments }}<br>
        <button>Add to Basket</button>
        <br><br>
    {% endfor %}

    {% if page.has_previous %}
        <a href="{% customURL 'page' 1 request.GET.urlencode %}">&laquo First</a>
        <a href="{% customURL 'page' page.previous_page_number request.GET.urlencode %}">Previous</a>
    {% endif %}

    Page {{ page.number }} of {{ page.paginator.num_pages }}

    {% if page.has_next %}
        <a href="{% customURL 'page' page.next_page_number request.GET.urlencode %}">Next</a>
        <a href="{% customURL 'page' page.paginator.num_pages request.GET.urlencode %}">Last &raquo</a>
    {% endif %}
{% endblock content %}