<!-- Author: Azim_Shahul_Hameed -->
<!--Reviewed by: -->
<!--Edwin Domale-->
<!--Nayim Amdoun-->
<!--Ernesto Cosentino-->
<!--Muhammad Ozair Khan-->
{% extends 'inventories/base.html' %}<!--extends the base template-->
{% load django_bootstrap5 %}<!--Loads django bootstrap5 library-->
{% bootstrap_css %}<!--Load bootstrap css-->
{% bootstrap_javascript %}<!--Load boostrap javascript-->

{% block content %}<!--This is where the content block begins-->

<div>
    <form method="POST" action="" enctype="multipart/form-data"><!--Form uses a POST method to sent data-->
        {% csrf_token %}<!--Token is always needewith POST for security -->
        {{form.as_p}}<!--Displays the form which uses .as_p allowing to use a structure which flows down-->
        <input type="submit" value="Submit"/><!--Submit button-->
        <small>
            <a href="{% url 'inventories:manageitem' %}">Cancel</a><!--Link to return back to the main page when they press cancel-->
        </small>
    </form>
</div>

{% endblock content %}<!--Content block ends-->