<!-- Author: Muhammad Ozair Khan -->
<!--Reviewed by: -->
<!--Edwin domale-->
<!--Nayim Amdoun-->
<!--Ernesto Cosentino-->
<!--Azim Shahul Hameed -->
<!--extends the base layout-->
{% extends 'inventories/base.html' %}

{% block breadcrumbs %}
    <ol class="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);">
        <li class="breadcrumb-item"><a href="{% url 'inventories:index' %}" style="text-decoration: none;">Home</a></li>
        <li class="breadcrumb-item active">Item View</li>
    </ol>
{% endblock breadcrumbs %}

{% block content %}    
    <div class="row">
        <div class="col">
            <h1 class="text-end">{{ item.name }}</h1>            
        </div>
        <div class="col">            
            <div class="row text-start my-auto">
                <div>
                    <label class="form-label" for="quantity">Quantity:</label>
                </div>
                <div class="col">
                    <select class="form-select" id="quantity" name="quantity">
                        {% for i in quantity_range %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <a class="btn btn-primary" href="{% url 'inventories:basket' item.id %}" role="button">Add to Basket</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-auto p-2 text-center">
        <img src="{{ item.image.url }}" style="max-width: 800px;">
        <p>{{ item.comments }}</p>
    </div>
{% endblock content %}