<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Equipment</title>
    {% extends 'inventories/base.html' %}<!--Extends the base template-->

    {% load static %}<!--Loads static files-->

    {% load django_bootstrap5 %}<!--Loads django bootstrap5 library-->
    {% bootstrap_css %}<!--Load bootstrap css-->
    {% bootstrap_javascript %}<!--Load boostrap javascript-->
</head>
<body>
    {% block content %}
    <h1>Manage Equipment</h1>
    <table class="table table-striped table-bordered"><!--Uses the boostrap stlying for the table-->
        <tr><!--Table to display the contents with the headers below-->
            <th>
                Equipment name
            </th>
            <th>
                Equipment type
            </th>
            <th>
                Location
            </th>
            <th>
                Quantity
            </th>
            <th>
                <a href="{% url 'inventories:createitem' %}">Create item</a><!--Link used which allows you to create an item-->
            </th>
            <th>
            </th>
        </tr>
        <tr><!--For loop used to iterate through item-->
            {%  for item in item %}
            <td>
                {{item.name|safe}}<!--Display the name of item-->
            </td>
            <td>
                {{item.type|safe}}<!--Display the type of item-->
            </td>
            <td>
                {{item.location|safe}}<!--Display the location of item-->
            </td>
            <td>
                {{item.quantity|safe}}<!--Display the number of item-->
            </td>
            <td>
                <a href="{% url 'inventories:updateitem' item.id %}">Edit item</a><!--Link used to edit the item information-->
            </td>
            <td>
                <a href="{% url 'inventories:deleteitem' item.id %}">Delete item</a><!--Link used to delete an item-->
            </td>
        </tr>
        {% endfor %}
    </table><!--End of the for loop-->

    {% endblock content %}<!--Content block ends-->
</body>
</html>